header {
  background: linear-gradient(115deg, #12314c, #5e92be);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: 'Euphoria Script';
    font-size: 2.8rem;
    margin-left: 2rem;
    color: #cd5360;
  }

  button {
    margin-right: 2rem;
    font-family: 'Amiko';
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 15px;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: #cd5360;
    box-shadow: 2px 4px 6px rgba(20, 20, 20, 0.3),
      4px 7px 9px rgba(20, 20, 20, 0.07),
      inset 2px 3px 5px rgba(200, 200, 200, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }

  button:hover {
    background: #b37d4e;
    box-shadow: 1px 2px 4px rgba(20, 20, 20, 0.3);
  }
}
